Find what you need faster … Home is your new landing page and surfaces your most relevant files and folders
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body{
    background: #fff;
    font-size: 13px;
    line-height: 1.7;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    letter-spacing: .25px;
}
.fixed-top{
    top: 0;
    height: 15px;
    background-color: #fff;
}
.fixed-bottom{
    background-color: #fff;
    height: 15px;
    bottom: 0;
}
.page{
    margin-top: 15px;
}
.side-bar{
    background-color: rgb(236, 235, 235);
    height: auto;
}
.screen{
    height: 100%;
    background: url(../Images/bg.png)repeat;
}
.profile{
    width: auto;
    background-color: rgb(206, 206, 206);
}
.Profile-Image img{
    max-width: 6rem;
    margin-top: 3rem;
    margin-left: 7rem;
}
.live{
    z-index: 2;
}
.live::before{
    content: '';
    position: relative;
    margin-top: -19px;
    margin-right: 32%;
    background: #4d4d4d;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-animation: puls 1s infinite;
    animation: puls 1s infinite;
}
.live-lamp[data-title]{
    position: absolute;
    height: 12px;
    width: 12px;
    margin-top: -15px;
    margin-right: 5.5%;
    background: #01b862;
    border-radius: 50%;
    z-index: 0;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.live-lamp::before{
    content: '';
    position: absolute;
    height: 5px;
    width: 5px;
    right: -18px;
    top: 5px;
    opacity: 0;
    background: #838383;
    pointer-events: none;
    -webkit-transform: translateX(20px) rotate(45deg);
    transform: translateX(20px);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    z-index: 99;
}
.live-lamp:hover:before{
    opacity: 1;
    transform: translateX(0px) rotate(-45deg);
    z-index: 99;
}
.live-lamp::after{
    position: relative;
    content: attr(data-title);
    width: 115px;
    display: block;
    padding: 5px 10px;
    top: -10px;
    left: 28px;
    font-size: 10px;
    font-weight: 200;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
    box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
    background: #838383;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    text-align: left;
    z-index: 33;
}
.live-lamp:hover:after{
    opacity: 10;
    transform: translateX(0px);
    z-index: 33;
}

@keyframes puls{
    0% {
        -webkit-transform: scale(.6);
        transform: scale(.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: 0;
 }

.Profile-Name{
    margin-top: 5%;
}
.img-logo1{
    max-width: 10%;
}
.img-nm{
    max-width: 40%;
    margin-right: 25%;

}
.bio{
    color: #575757;
    font-size: 65%;
}



.details{
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-bottom: .5em;
}
.details ul{
    margin: 0;
    padding: 0;
}
.details ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.details ul li h6 {
    line-height: 1.7;
}
.details ul li span {
    text-align: right;
    line-height: 1.7;
    color: #575757;
    font-size: 60%;
    letter-spacing: .85px;
}
.Residence{
    font-size: 60%;
}
.details-bar hr{
    margin: 0rem 10px!important;
}



.nav-list{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    width: 100%;
    top: 0;
    z-index: -1;
    height: calc(48vh - 0px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.nav-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.nav-list ul {
    padding-top: 0em;
    padding-left: 0rem;
}
.nav-list ul li {
    list-style-type: none;
    display: flex;
    padding-left: 2em;
}
.nav-list ul li a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select:none;
    font-weight: 10;
    width: 100%;
}
.nav-list ul li a.active {
    background-color: #e7e4e4;
    border-left: 3px solid;
}
.nav-list ul li:hover {
    background-color: #e7e4e4;
    border-left: 3px solid;
}
.nav-list ul li a i {
    font-size: 2.5em;
    margin-right: .3em;
    padding-bottom: .5em;
    top: .3em;
}
.nav-Person{
    color: #008073 !important;
}
.nav-trending-up{
    color: #00bcd4 !important;
}
.nav-web{
    color: #3f51b5 !important;
}
.nav-equalizer{
    color: #9c27b0 !important;
}
.nav-grade{
    color: #F44336 !important;
}
.nav-school{
    color: #ff9800 !important;
}
.nav-email{
    color: #795548 !important;
}
.nav-create{
    color: #fbc02d !important;
}
.nav-description{
    color: #424242 !important;
}
.nav-list ul li a span{
    font-size: 1rem;
    line-height: 100%;
    color: #333 !important;
    font-weight: 300;
    font-family: 'Open Sans';
    font-style: normal;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}



/* .nav-bottom-icons{
    margin-bottom: 15px;
} */
.nav-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 35px;
    height: 50px;
    background: rgb(206, 206, 206);
    bottom: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
    box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
    left: 0;
    width: 100%;
    z-index: 999;
}